<div class="container">

  <span>{{ 'tools' | translate:translateService.GetLang }}</span>

  <div class="labels">

    <app-labels
      [imageSrc]="'icons/figma.svg'"
      [label]="'Figma'">
    </app-labels>

    <app-labels
      [imageSrc]="'icons/github.svg'"
      [label]="'GitHub'">
    </app-labels>

    <app-labels
      [imageSrc]="'icons/git.svg'"
      [label]="'Git'">
    </app-labels>

    <app-labels
      [imageSrc]="'icons/vscode.svg'"
      [label]="'VisualCode'">
    </app-labels>

    <app-labels
      [imageSrc]="'icons/slack.svg'"
      [label]="'Slack'">
    </app-labels>

    <app-labels
      [imageSrc]="'icons/jira.svg'"
      [label]="'Jira'">
    </app-labels>

    <app-labels
      [imageSrc]="'icons/netlify.svg'"
      [label]="'Netlify '">
    </app-labels>

  </div>
</div>
