@import '../../../../variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 100px;
  border: solid 1px $color-white;
  border-radius: $border-radius;
  transition: transform 0.6s ease, background 0.3s ease;

  &:hover {
    background: darken($color-primary, 100%);
    transform: scale(1.02);
  }
}

span {
  font-size: $font-size-text;
  font-weight: $font-weight-bold;
  color: $color-white;
}

p {
  font-size: 20px;
  color: $color-secondary;
  font-weight: $font-weight-regular;
}

@media (max-width: 450px) {
  .container {
    gap: 16px;
    padding: 20px 30px;
    border: solid 1px $color-white;
    border-radius: 50px;
  }

  span {
    font-size: $font-size-text-450;
  }

  p {
    font-size: $font-size-p-450;
  }
}
