@import '../../../../variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 100px;
  border: solid 1px $color-white;
  border-radius: 70px;
  transition: transform 0.6s ease, background 0.3s ease;

  &:hover {
    background: darken($color-primary, 100%);
    transform: scale(1.02);
  }
}

span {
  font-size: $font-size-text;
  font-weight: $font-weight-bold;
  color: $color-white;
}

p {
  font-size: 20px;
  color: $color-secondary;
  font-weight: $font-weight-regular;
}
