@import '../../../../../variables';

main {
  display: flex;
  padding-bottom: 40px;
  border-bottom: solid 1px $color-light-gray;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap-components;
}

.presentation-title {
  font-size: $font-size-tite;
  font-weight: $font-weight-bold;
  color: $color-white;
}

p {
  font-size: $font-size-text;
}

.presentation-buttons {
  display: flex;
  gap: $gap-components;
}

img {
  width: 390px;
}


@media (max-width: 450px) {

  .container {
    text-align: center;
    gap: $gap-components-450;
  }

  .presentation-title {
    font-size: $font-size-tite-450;
  }

  p {
    font-size: $font-size-text-450;
  }

  .presentation-buttons {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: $gap-components-450;
  }

  .image {
    display: none;
  }
}
