@import '../../../variables';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $gap-default;
}


@media (max-width: 450px) {
  .container {
    text-align: center;
    gap: $gap-default-450;
  }
}
