@import '../../../../../variables';

.container{
  display: flex;
  flex-direction: column;
  gap: $gap-default;
}

span {
  font-size: $font-size-subtite;
  font-weight: $font-weight-regular;
  color: $color-white;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-components;
}


@media (max-width: 450px) {
  .container{
    gap: $gap-default-450;
    align-items: center;
  }

  span {
    font-size: $font-size-subtite-450;
  }

  .labels {
    gap: 25px;
    justify-content: center;
  }

}
