@import '../../../../variables';

a {
  font-family: $font-family;
  font-size: $font-size-links;
  font-weight: $font-weight-regular;
  color: $font-color-span;
  text-decoration: none;

  &:hover {
    color: $font-color-hover;
  }

  &.active {
    color: $font-color-active;
  }

  &:focus {
    outline: none;
  }
}


@media (max-width: 450px) {
  .container {
    background: $color-primary;
    border: solid 1px $color-white;
    padding: 10px 15px;
    border-radius: 10px;
  }

  a {
    display: block;
    width: 100%;
    }
}
