@import '../../../../../variables';

.container {
  display: flex;
  flex-direction: column;
  gap: $gap-default;
}

span {
  font-size: $font-size-subtite;
  font-weight: $font-weight-regular;
  color: $color-white;
}

.targets {
  display: flex;
  flex-direction: column;
  gap: $gap-components;
}
